body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://t4.ftcdn.net/jpg/02/34/34/27/360_F_234342732_d9wZGQwDh8p0EZTeSh2ni1WIbfB76XBZ.webp'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center; 
}


body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}
.product-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}
.product-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.product-item img {
    width: 100%;
    height: auto;
    display: block;
}
.product-item h3 {
    margin: 15px;
    font-size: 18px;
    text-align: center;
}

